<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/jquery-3.5.0.min.js"></script>
    <script>
        //在这个标签下面就可以写js代码
        //$这个jQuery的专属符号
        //文档加载事件：当页面加载完成成触发的函数 这是jQuery的写法
        $(function () {
            alert("今天很开心！！！！");
        })
        //原生js的写法
        /*
        window.onload=function () {

            alert("今天很开心！！！！");
        }
         */

    </script>
</head>
<body>

</body>
</html>